M04 - Lenguajes de Marcas/UF 2/UF2-ACT2/pregunta3.dtd

<!ELEMENT cd (coche, coche, coche)>
<!ELEMENT coche (codigoCoche, marca, modelo, matricula, potencia, plazas, numeroPuertas)>
<!ELEMENT codigoCoche (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT numeroPuertas (#PCDATA)>

<!ATTLIST potencia medida NMTOKEN #REQUIRED>