M04 - Lenguajes de Marcas/UF 2/UF2-ACT2/pregunta2.dtd

<!ELEMENT cd (evento, evento, evento)>
<!ELEMENT evento (fecha, nombreeven, ubicacion, participantes)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT nombreeven (#PCDATA)>
<!ELEMENT ubicacion (#PCDATA)>
<!ELEMENT participantes (#PCDATA)>

<!ATTLIST evento modalidad NMTOKEN #REQUIRED>
<!ATTLIST fecha formato CDATA #REQUIRED>